<div class="our-clients">
    <div class="container">
        <div class="row">
            <div class="client">
                <div class="client-logo">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <div class="clients-title">
                            <h3 class="title">Publicidade</h3>
                            {#<div class="carousel-controls pull-right">
                                <a class="prev" href="#client-carousel" data-slide="prev"><i class="icon-angle-left"></i></a>
                                <a class="next" href="#client-carousel" data-slide="next"><i class="icon-angle-right"></i></a>
                                <div class="clearfix"></div>
                            </div>#}
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div id="client-carousel" class="client-carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        {% for publicidade in publicidades %}
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d1">
                                            <div class="item-inner"><a href="#"><img alt="Upportdash" src="{{ path('publicidade_img', { 'id': publicidade.id} ) }}"></a></div>
{#                                            <a class="post-item-link" href="{{ path('filme_imagemp', { 'id': publicidade.id} ) }}" data-rel="prettyPhoto"><span class="post-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><img alt="" src="{{ path('filme_imagemp', { 'id': publicidade.id} ) }}"></a>#}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <!-- Testimonials Widget Start -->
                        <div class="row ">
                            <div class="testimonials widget">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="testimonials-title">
                                        <h3 class="title">Sobre</h3>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div id="testimonials-carousel" class="testimonials-carousel slide animate_afr d5">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="testimonial item">
                                                    <p>
                                                        Espaço reservado para Empresas que querem Mostrar seu negócio através do Site
                                                    </p>
                                                    <div class="testimonials-arrow">
                                                    </div>
                                                    {#<div class="author">
                                                        <div class="testimonial-image "><img alt="" src="{{asset('bundles/myhappycinemania/img/testimonial/team-member-1.jpg')}}"></div>
                                                        <div class="testimonial-author-info">
                                                            <a href="#"><span class="color">Monica Sing</span></a> FIFO Themes
                                                        </div>
                                                    </div>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>