<div class="row">
    {% for cinema in cinemas %}
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
            <div class="ch-info-wrap">
                <div class="ch-info">
                    <div class="ch-info-front ch-img-1"><i class="icon-bookmark" ></i></div>
                    <div class="ch-info-back">
                        <i class="icon-bookmark"></i>
                    </div>
                </div>
            </div>
            <div class="content-box-info">
                <h3>{{ cinema.nome }}</h3>
                <p>
                    desc do cine
                </p>
                <a href="#">Ver mais <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
