{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Pessoa</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pessoa') }}">
            Voltar para a Lista
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
